@font-face {
    font-family: 'Troyline Sans Stamp';
    src: url('TroylineSans-Stamp.woff2') format('woff2'),
        url('TroylineSans-Stamp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

